servicekey.json
frontend/node_modules/
consumer/servicekey.json
consumer/servicekey.json
grafana/servicekey.json
node_modules/

temp.ipynb

grafana/servicekey.json
logs/
dags/__pycache__/
kafka_data/
minio_data/
.env