apache-airflow[postgres,kubernetes]==2.6.1
kafka-python
pandas==2.0.3
requests
pyTelegramBotAPI
apache-airflow-providers-google==8.0.0
apache-airflow[celery]==2.6.1
google-generativeai
PyPDF2
openai
protobuf==3.20.3
beautifulsoup4